div {
    border-radius: 5px;
    }
    
#header {
    height: 100px;
    width: 1200px;
    background-color: #1ce5c2;
    z-index: 1;
    position: fixed;
    }  

.left {
    height: 600px;
    width: 300px;
    background-color: #f8be78;
    float: left;
    margin-top: 100px;
    }
    
.right {
    height: 600px;
    width: 894px;
    background-color: #f6fbaf;
    float: right;
    margin-top: 100px;
    /*margin-right: -300px;*/
    }
    

    
#footer {
    height: 80px;
    width: 1200px;
    background-color: #61EDD4;
    clear: both;
    }
